.login-container {
    background-color: #ff385c;
    height: 100vh;
  }
  
  .login-content {
    margin: 100px 40px;
  }
  
  .login-left {
    text-align: left;
    color: white;
  }
  
  .login-title {
    font-weight: bold;
  }
  
  .login-subtitle {
    display: inline-block;
  }
  
  .world-map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
  }
  
  .login-right {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    transition: 3s;
    
  }
  
  .login-form-container {
    text-align: center;
    
  }
  
  .login-btn {
    background-color: #ff385c;
    color: white;
    font-weight: bold;
    width: 100%;
  }
  
  .facebook-btn, .google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .icon {
    width: 20px;
    margin-right: 8px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  